* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* Toggle.js */

.toggle {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 50px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 42px;
  width: 150px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .toggle-slider:before {
  transform: translateX(142px);
}

.item1 {
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  cursor: pointer;
  color: #999;
}
.item2 {
  position: absolute;
  right: 25%;
  transform: translateX(50%);
  cursor: pointer;
  color: #999;
}

/* Tab.js */
.tab {
  margin-bottom: 50px;
  cursor: pointer;
}

.tab > .tab-container {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: #999;
}

.tab > .tab-container > label {
  cursor: pointer;
}

.tab > .tab-container > label.bold {
  color: black;
}

.tab input[type='radio'] {
  display: none;
}

#slider {
  width: 33%;
  border-bottom: 2px solid #009999;
  transition: transform 0.3s;
}

#slider.s2 {
  transform: translateX(100%);
}

#slider.s3 {
  transform: translateX(200%);
}

/* Slider.js */

.percent {
  width: 100%;
  height: 50px;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.percent span {
  width: 20px;
  margin-right: 10px;
}

.black {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-right: 15px;
}

.range-circle {
  position: relative;
  width: 100%;
  height: 30px;
}

.circle {
  position: absolute;
  bottom: 40%;
  width: 15px;
  height: 15px;
  background-color: #d3d3d3;
  border-radius: 50%;
  z-index: -10;
}

.circle.color {
  background-color: #009999;
}

.circle:nth-child(1) {
  left: 1%;
  background-color: #009999;
  transform: translateX(-1%);
}
.circle:nth-child(2) {
  left: 25%;
  transform: translateX(-25%);
}
.circle:nth-child(3) {
  left: 50%;
  transform: translateX(-50%);
}
.circle:nth-child(4) {
  left: 75%;

  transform: translateX(-75%);
}
.circle:nth-child(5) {
  left: 100%;
  transform: translateX(-100%);
}

input[type='range'] {
  -webkit-appearance: none;

  width: 100%;
  height: 10px;
  outline: none;
  margin-bottom: 5px;
  background-color: #d3d3d3;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #009999),
    color-stop(100%, #009999)
  );
  background-repeat: no-repeat;
  background-size: 30% 100%;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 30;
  width: 12px;
  height: 12px;
  padding: 9px;
  border: 3px solid white;
  background: #009999;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
}

.percent-button {
  display: flex;
  justify-content: space-between;
}

.percent-button div {
  font-size: 14px;
  color: #999;
  background-color: #d3d3d3;
  border-radius: 35%;
  padding: 0 5px;
  cursor: pointer;
}

.percent-button div:hover {
  color: white;
  background-color: #009999;
}

/* Input.js */

.input {
  margin-bottom: 15px;
}

.input > label {
  display: block;
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}

.inputIcon-container {
  position: relative;
  display: inline-block;
}

.input input {
  width: 300px;
  height: 35px;
  border: 1px solid #d3d3d3;
  padding: 0;
  padding-left: 10px;
}

.input input[type='email']:blur {
  width: 10px;
}

.input input:focus {
  outline: none;
  border: 1px solid black;
}

.input input::placeholder {
  color: #d3d3d3;
}

.email-errorMsg {
  padding: 0;
  padding-top: 3px;
  padding-left: 10px;
  color: red;
  font-size: 12px;
}

.none {
  display: none;
}

.inputIcon-container .fa-solid {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #d3d3d3;
}

.fa-solid.checked {
  color: #009999;
}

.fa-eye-slash {
  cursor: pointer;
}

.fa-eye-slash.checked {
  color: #009999;
}

/* Dropdown.js */

.dropdown {
  height: 600px;
}

.dropdown > .title {
  display: flex;
  position: relative;
  padding: 0;
  padding-left: 10px;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.fa-caret-down {
  /* cursor: pointer; */
  color: black;
}

.dropdown > .title {
  border: 1px solid #d3d3d3;
}
.dropdown-list {
  border: 1px solid #d3d3d3;
  border-top: none;
}

.dropdown-list > .input-container {
  position: relative;
}

.searchBar {
  padding: 0px 0 0px 30px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
}
.fa-caret-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #999;
}

.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #d3d3d3;
}

.searchBar::placeholder {
  color: #d3d3d3;
}

.opened {
  display: block;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.closed {
  display: none;
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.item {
  padding: 10px 0px 10px 10px;
  cursor: pointer;
}

.item:hover {
  background-color: #d3d3d3;
}
